/* dps tem q mudar as fontes e blablabla */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body{
    font-family: Roboto;
}
.bgcolor{
    background-color: lightseagreen;
}
.header{
    text-align: center;
}
.menu{
    display: flex;
    flex-direction: column;
}
.linha{
    position: relative;
    display: flex;
    flex-direction: row;
    top:8px;
}
.navbar{
    display: flex;
    flex-direction:row;
    background-color: lightseagreen;
    /* position: fixed; */
    /* width: 100%; */
    
}
.navbar a{
    font-size: 50%;
    text-decoration: none;
    margin-left: 1%;
    color: white;
    padding: 1%;

}
.navbar.mainscr{
    display: flex;
    flex-direction:row;
    background-color: lightgrey;
    height: 5em;
    
}
.navbar.mainscr div{
    padding-left: 1%;
    width: 4.5em;
}
.navbar.mainscr a{
    font-size: 55%;
    text-decoration: none;
    margin-top:20%;
    color: black;
    padding: 1%;

}
.navbar.rodape{
    justify-content: center;
}
.navbar a:hover{
    color: black;
}
.section{
    margin: auto;
    border: 1px solid black;
    width: 60%;
    
}
.dropdown {
    position: relative;
    margin-left: 1%;
    display: inline-block;
    padding: 1%;
  }
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 6px 0px;
    padding: 12px 16px;
    z-index: 1;

}
.dropdown:hover .dropdown-content {
    display: block;
  }

.coluna {
    background-color: white;
    padding: 10px;
    box-shadow: 0px 0px 1px 0px;
  }
  
.coluna.canto {
    width: 20%;
    

  }
.navbar.mainscr img{
    height: 10em;

    
}  
.coluna.meio {
    width: 80%;
  }

div > button{
    background-color:transparent;
    width: 8em;
    font-size: 0.7em;
}

.fc-button-primary{
    width: 5em;
}
.modal{
    display:none;
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal > form{
    margin: auto;
    background-color: #f9f9f9;
    width: 68%;
    
}
.modal > form > fieldset{
    height: 5em;
}
.none{
    display: none;
}
.block{
    display: block;
}
.ativo{
    background-color: blue;
}
.naoAtivo{
    background-color: transparent;
}