@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 

}
.title {
    text-align: center;
    margin-top: 50px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
   background-image: url(imagens/fundoFODA.png);
}

.container{
    width: 50%;
    display: flex;
    position: relative;
    top: 4.2em;

}
.form{
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: #e7faf7;
    position: relative;
    bottom: 5%;
    
}

.input-group{
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0rem;
    height: 30%;
    padding-left: 20%;
    padding-right: 20%;
}

.input-box input{
    width: 100%;
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #111;
}

.input-box input:hover{
    background-color: #eeeeee75;
}

.login-button button{
    border: none;
    position: relative;
    background-color: #1ED4AF;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10%; 
    width: 15.5em;
    height: 3em;
    left: 15%;

}

.login-button button:hover{
    background-color: #1cc2a1; 
}

.login-button button a {
    text-decoration: none;
    font-weight: 500px;
    color: #fff;

}

.input-radio {
    display: flex;
    flex-direction: column;
    
}
.input-radio > div{
    margin: 0.2em;
}


@media only screen and (max-width: 600px) /*Consertar o botão que ta torto, fiz de tudo e não consegui resolver */ {

    body{
        background-image: url("imagens/telaCelularGrande.png");
        margin-top: 0%;
    }
    div > legend > img{
        width: 22em;
        height: 22em;
    }
    .title{
        font-size: 120%;
        margin-left: 0%;
        font-family: 'Roboto';
        box-sizing: border-box;
    }
    .input-box{
        margin-bottom: 0rem;
        width: 100%;
        height: 30%;
        margin-left: 0px;
    }
    .input-box input{
        width: 100%;
    }

    .container{
        width: 80%;
    }

    .form{
        width: 100%;
        
    }
    .a{
        margin-left: 5px;
    }
    
}

@media only screen and(min-width: 600px){
    .login-button button{
        left: 15%;
    }
}