@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 

}
.title {
    text-align: center;
}
body {
    height: 100vh;
    /* display: flex; 
    justify-content: center;
    align-items: center; */
   margin: auto;
   background-image: url(imagens/fundo3.jpg);
}

.container{
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .212);
}
.form{
    margin: auto;
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #e7faf7;
    
}

.input-group{
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box{
    display: flex;
    flex-direction: column;
    width: 110%;
    margin-bottom: 0rem;
    height: 30%;
    
}

.input-box input{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #111;
}

.input-box input:hover{
    background-color: #eeeeee75;
}

.login-button{
    display: flex;
    align-items: center;
    margin-left: 20%;
    margin-top: 10%;
    position: relative;
      
}

.login-button button{
    border: none;
    background-color: #1ED4AF;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover{
    background-color: #1cc2a1; 
}

.login-button button a {
    text-decoration: none;
    font-weight: 500px;
    color: #fff;

}
.input-radio {
    display: flex;
    flex-direction: column;
    
}
.input-radio > div{
    margin: 0.2em;
}

@media screen and (min-width: 600px) {
    .input-box{
        display: flex;
        flex-direction: column;
        width: 25em;
    
        height: 30%;
        
    }
    .login-button button{
        border: none;
        background-color: #1ED4AF;
        padding: 0.4rem 1rem;
        border-radius: 5px;
        cursor: pointer;
        width: 18em;
    }
}

@media screen and (max-width: 1064px){
    .container{
        width: 90%;
        height: auto;
    }
}

