@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: Roboto;
    background-image: url("imagens/fundoFODA.png");
}

div > img{
    width: 8em;
    height: 8em;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.header{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(210, 241, 225, 0.992);
    box-sizing: border-box;
}



.logo{
    position: relative;
    left: 0;
    width: 8em;
    height: 8em;
}

.header div[class="menu"]{
    position: absolute;
    right: 0;
    text-align: right;
    padding-top: 2.7em;

}

.menu a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}

.center{
    display: flex;
    flex-wrap: wrap;
}

section.sobre{
    position: relative; 
    height: calc(100% - 200px);
}

.sobre{
    margin-top: 10px;
}

.sobre p{
    margin: 20px 0;
    color: black;
    font-size: 17px;
    font-weight: bold;
    max-width: 800px;
    padding-bottom: 11px;
}

.sobre h1{
    font-size: 4rem;
}

.sobre button{
    border: 0;
    background-color: #3aa38e;
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    
}